.no-comunes-container {
    margin: 20px;
    .no-comunes-title {
        margin-bottom: 20px;
        @media screen and (max-width: 920px){
            text-align: center;
        }
    }
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .card{
            width: 90%;
            height: auto;
            p-fieldset{
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                    }
                }
            }
        }
        @media screen and (max-width: 920px){
            display: flex;
            flex-direction: column;
            .slice {
                display: flex;
                flex-direction: column;
                width: 150px;
                p{
                    padding: 10px 0;
                    overflow-x: scroll;
                }
            }
        }

    }
}

